.searchmessage-container{
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 100%;
    height: 50px;
   
}

.search-message{
    height: 30px;
    width: 90%
}

.messagelist-container{
    display: flex;
    justify-content: space-evenly;
    border: black 1px solid;
    height: 1500px;

}
.newmessage-button{
    position: relative;
    z-index: 1;
   
}
.hidden{
    display: none;
}
