.home-writecomment{
    height: 100%;
    width: 100%
}
.writecomment-form{
    height: 30px;
    width: 90%
}


.postpage-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-main-container{
    display: flex;
    justify-content: space-evenly;
}
.home-container{
    display: flex;
    justify-content: space-between;
}
.userinfo-container{
    background: white;
    max-width: 40%;
    height: 800px;
    border: darkgray 1px solid;
    padding-right: 50px;
    padding-left: 50px;
}
.profile-img{
    width:100%;
}
.display{
    background: white;
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    width: 41%;
    height: 300px;
    left: 352px;
    
}
.share-post{
    width: 100%;
}
.blue-bar{
    background:blue;
    width: 100%;
    height: 10%;
}